@page
@model EstoqueApp.Pages.Categories.EditCategoryModel
@{
}

<section>
    <h1>Nova Categoria de Produto</h1>

    <form method="post" class="mt-4">

        <input type="hidden" asp-for="Category.Id" />

        <div class="mb-3">
            <label asp-for="Category.Name" class="form-label"></label>
            <input asp-for="Category.Name" class="form-control" />
            <span asp-validation-for="Category.Name" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary">Salvar</button>
        <a asp-page="Index" class="btn btn-secondary">Cancelar</a>

    </form>
</section>
