@page
@model EstoqueApp.Pages.CostCenters.AddCostCenterModel
@{
}

<section>

    <h1>Novo centro de custo</h1>

    <form method="post" class="mt-4">

        <div class="mb-3">
            <label asp-for="CostCenter.Name" class="form-label"></label>
            <input asp-for="CostCenter.Name" class="form-control" />
            <span asp-validation-for="CostCenter.Name" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="CostCenter.Code" class="form-label"></label>
            <input asp-for="CostCenter.Code" class="form-control" />
            <span asp-validation-for="CostCenter.Code" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary">Salvar</button>
        <a asp-page="Index" class="btn btn-secondary">Cancelar</a>

    </form>

    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }

</section>
